h1,
h2,
h3,
h4 {
  font-family: var(--font-header);
  text-transform: uppercase;
  margin: 0;
}

p,
li,
span {
  font-size: clamp(0.9rem, 1.6vw, 1rem);
  line-height: clamp(1.2rem, 3vw, 1.4rem);
}
ul {
  padding-left: 0;
  list-style: none;
}

/* Typography */
.text-center {
  text-align: center;
}

.heading-lg {
  font-size: clamp(1.875rem, 4vw, 3.4rem);
  line-height: clamp(2.1rem, 4vw, 3.7rem);
  margin-bottom: clamp(var(--space-sm), 2vw, var(--space-md));
}

.heading-md {
  font-size: clamp(1.45rem, 5vw, 2rem);
  line-height: clamp(1.75rem, 5vw, 2.3rem);
  margin-bottom: var(--space-sm);
}

.heading-sm {
  font-size: clamp(1.125rem, 3vw, 1.375rem);
  line-height: clamp(1.4rem, 3vw, 1.7rem);
  margin-bottom: var(--space-sm);
}

/* Buttons */
.primary-btn {
  display: block;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  line-height: clamp(1.1rem, 1.6vw, 1.2rem);
  padding: 0.8rem clamp(1.2rem, 4vw, 2.5rem);
  cursor: pointer !important;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--color-red);
  font-family: var(--font-header);
  border-radius: var(--button-radius);
  width: fit-content;
  text-align: center;
  margin: 0;
  transition: 0.25s;
  box-shadow: var(--shadow);
}
button.primary-btn {
  border: none;
  width: 100%;
  margin-top: 25px;
}
.primary-btn:hover {
  background-color: var(--color-red-hover);
  color: var(--color-off-white-hover);
}

/* LIST STYLING */
.list-with-checks {
  padding: 0;
  list-style: inside;
}
.list-with-checks li {
  list-style: none;
  display: flex;
  align-items: start;
  margin-bottom: 7px;
}
.list-with-checks li::before {
  content: "";
  display: inline-block;
  min-height: 20px;
  min-width: 20px;
  margin-right: 10px;
  background-image: url(https://bravebooks.us/cdn/shop/files/BB_BFLPLan1_S1_Icon_0c9926ff-5af2-407f-bcd7-b4e6d9fd9469.svg?v=1694461853);
}
.list-with-checks.list-with-xs li:before {
  background-image: url(https://bravebooks.us/cdn/shop/files/X_Mark.svg?v=1698782139);
}
/* END LIST STYLING */

/* Layout */
.container {
  max-width: var(--page-width);
  display: block;
  margin: 0 auto;
  padding: clamp(50px, 10vw, 100px) 20px;
}
.center {
  margin: 0 auto;
}

.grid-layout__center,
.grid-layout__left,
.grid-layout__right {
  display: grid;
  grid-gap: 25px;
}
.grid-layout__center,
.grid-layout__left,
.grid-layout__right {
  display: grid;
  grid-gap: 25px;
}
.grid-layout__center {
  grid-template-columns: 1fr 1fr;
}
.grid-layout__left {
  grid-template-columns: 1fr 2fr;
}
.grid-layout__right {
  grid-template-columns: 2fr 1fr;
}

/* UTIL */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Images */
img {
  max-width: 100%;
  display: block;
  border-radius: var(--border-radius);
}
.mobile__image {
  display: none;
}

@media screen and (max-width: 696px) {
  /* Layout */
  .grid-layout__center,
  .grid-layout__left,
  .grid-layout__right {
    grid-template-columns: auto;
  }

  /* Images */
  .mobile__image {
    display: block;
  }
  .desktop__image {
    display: none;
  }
}
